body {
    font-family: sans-serif;
    font-size: 11px;
    background-image: url("http://res.freestockphotos.biz/pictures/12/12610-illustration-of-a-christmas-tree-background-texture-pv.png");
    /*background-color: lightblue;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    fill: #f00;
    stroke: #000;
}

.label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-auto-rows: minmax(100px,auto);
  grid-gap: 10px;
}


/* .area1{
  grid-column: 2;
  grid-row: 4;
} */

.are4{
  grid-column: 2;
  grid-row: 4;
}

.area3{
  grid-column: 3;
  grid-row: 4;
}
